.container-personal-account {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.personal-account-title {
    text-align: center;
    color: #333;
}

.section-title {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.profile-section, .addresses-section, .orders-section, .reviews-section, .bonus-section {
    margin-bottom: 20px;
}

.profile-info p, .address-item span, .order-item span {
    margin: 10px 0;
}

.btn {
    background-color: #b700ff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-right: 5px;
}

.btn:hover {
    background-color: #8c00b3;
    transform: scale(1.1);
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

form {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin: 5px 0;
}

.form-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.address-list, .order-list {
    list-style: none;
    padding: 0;
}

.address-item, .order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.address-item:last-child, .order-item:last-child {
    border-bottom: none;
}

.address-text, .order-text {
    flex: 1;
}

.add-address-form, .edit-profile-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 4px;
    margin-top: 10px;
}

.reviews-section {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 4px;
}

.bonus-section {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 4px;
}
