.block-container-tovar{
    display: flex;
    margin-left: 8%;
    margin-right: 5%;
    justify-content: space-between;
    margin-top: 2%;
}
.block-soderhanie{
    display: flex;
    gap: 6rem;
    justify-content: space-between;
}
.background-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.block-img{
    position: relative;
    width: 680px;
    height: 500px;
    overflow: hidden;
}
.record-container {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.records {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);

}
.rekk{
    animation: rotateRecord 5s linear infinite ;
}
.record-img {
    width: 500px;
    height: 500px;
}
@keyframes rotateRecord {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.block-txt{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.dop-opisanie{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bue{
    border-radius: 15px;
    background: rgb(166, 132, 240);
    color: white;
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 5% 5% 5% 5%;
    font-family: "Montserrat", sans-serif;
    transition: .5s linear;
}

audio {
    width: 80%;
    margin-top: 1%;
}

.dop-opisanie span{
    color: rgb(179, 179, 179);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}
.prise{
    display: flex;
    align-items: center;
    gap: 10px   ;
}
.container-korz{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 10%;
    margin-left: 8%;
    margin-right: 8%;
}
.vibor{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
}
.block-perehod-header{
    display: flex;
    gap: 5rem;
}
.block-perehod{
    width: 40%;
    margin-left:8%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 5%;
}
.block-perehod-header span{
    cursor: pointer;
    color: #A684F0;
    font-size: 2rem;
    font-weight: 700;
    background-color: white;
    padding: 1.5rem;
    border-radius: 30px;
}

.block-perehod-opisanie p{
    color: rgb(179, 179, 179);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
    width: 60%;
    background-color: white;
    border-radius:30px;
    padding: 1rem;
}

.cart-item img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.quantity {
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 10%;
}

.quantity button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.price {
    margin-right: 10px;
}

.remove {

}
.oform-zakaz{
    background-color: #FF7272;
    padding: 2rem 6.5rem;
    font-weight: 500;
    color: white;
    font-size: 1.8rem;
    border-radius: 1.2rem;
    border: 0.2rem solid rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-out;
    margin: auto;
}
.obz-cont{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.cart-item{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.cart-item img{
    width: 100%;
    border-radius: 30px;
    margin: auto;
}




.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: modalopen 0.5s;
    display: flex;
    flex-direction: column;
}

@keyframes modalopen {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

label {
    margin: 10px 0 5px;
}

.modal input[type="text"],
select {
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.bonus{
    width: 30%;
}
button#confirm-order {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 50%;
    margin: auto;
}

button#confirm-order:hover {
    background-color: #555;
}
.modal label{
    font-weight: bold;
}
